<a href="https://colab.research.google.com/github/vunnampragathi/690-stats-and-visu/blob/main/assignment_8/assignment_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.Use Pandas to read the file census_costs.txt file**

In [279]:
import pandas as pd
import plotly.express as px

In [280]:
DATA_URL = "https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/assignments/assignment_08_census_cost/census_costs.txt"
df = pd.read_csv(DATA_URL, skiprows=1, sep="\t")
df.head()

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents

**2.Find out how many rows and columns it has**

In [281]:
df.shape  # to get rows and columns

(23, 4)

the data has 23 rows and 4 columns

**3.Display first 10, last 10, and random 10 rows**

In [282]:
df.head(10)  # to dispaly first 10 rows

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents
5        1840       17,069,458    $833,371              4.88 cents
6        1850       23,191,876  $1,423,351              6.14 cents
7        1860       31,443,321  $1,969,377              6.26 cents
8        1870       38,558,371  $3,421,198              8.87 cents
9        1880       50,155,783  $5,790,678             11.54 cents

In [283]:
df.tail(10)  # to display last 10 rows

   Census Year Total Population     Census Cost Average Cost Per Person
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [284]:
df.sample(10)  # to display random 10 rows

   Census Year Total Population     Census Cost Average Cost Per Person
13        1920      105,710,620     $25,117,000             23.76 cents
22       2010*      308,745,538     $13 Billion                  $42.11
17        1960      179,323,175    $127,934,000             71.34 cents
11        1900       76,303,387     $11,854,000             15.54 cents
19        1980      226,542,199  $1,078,488,000                   $4.76
7         1860       31,443,321      $1,969,377              6.26 cents
0         1790        3,929,214         $44,377              1.13 cents
18        1970      203,302,031    $247,653,000                   $1.22
20        1990      248,718,301  $2,492,830,000                  $10.02
15        1940      131,669,275     $67,527,000             51.29 cents

**4.Find out the data types of all columns - use info() function**

In [285]:
df.info()   # to get all data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

**5.Find out the summary statistics of all columns**

In [286]:
df.describe()    # to get summary of all the columns

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377              1.13 cents
freq             1                1           1                       1

**6.Cleanse the data to make the year, population, cost, cost per person numerical type**

In [287]:
def cleanse_year(a_string):
    return int(a_string.replace("*",""))    # replacing * present in the year column to convert year column to int type

In [288]:
df["Census Year"] = df["Census Year"].apply(cleanse_year)

df.head()

   Census Year Total Population Census Cost Average Cost Per Person
0         1790        3,929,214     $44,377              1.13 cents
1         1800        5,308,483     $66,109              1.24 cents
2         1810        7,239,881    $178,445              2.46 cents
3         1820        9,633,822    $208,526              2.16 cents
4         1830       12,866,020    $378,545              2.94 cents

In [289]:
df.tail()

    Census Year Total Population     Census Cost Average Cost Per Person
18         1970      203,302,031    $247,653,000                   $1.22
19         1980      226,542,199  $1,078,488,000                   $4.76
20         1990      248,718,301  $2,492,830,000                  $10.02
21         2000      281,421,906    $4.5 Billion                  $15.99
22         2010      308,745,538     $13 Billion                  $42.11

In [290]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     int64
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: int64(1), object(3)
memory usage: 864.0+ bytes

In [291]:
def cleanse_population(a_string):
    return int(a_string.replace(",",""))   # replacing , in population column to convert to int type

In [292]:
df["Total Population"] = df["Total Population"].apply(cleanse_population)

df.head()

   Census Year  Total Population Census Cost Average Cost Per Person
0         1790           3929214     $44,377              1.13 cents
1         1800           5308483     $66,109              1.24 cents
2         1810           7239881    $178,445              2.46 cents
3         1820           9633822    $208,526              2.16 cents
4         1830          12866020    $378,545              2.94 cents

In [293]:
def cleanse_cost(a_string):
     a_string=a_string.replace("$","").replace(",","")
     if " Billion" in a_string:
        a_string=int(float(a_string.replace(" Billion",""))*1000000000)
     else:
        a_string=a_string
     return int(a_string)

In [294]:
df["Census Cost"] = df["Census Cost"].apply(cleanse_cost)

df.head()

   Census Year  Total Population  Census Cost Average Cost Per Person
0         1790           3929214        44377              1.13 cents
1         1800           5308483        66109              1.24 cents
2         1810           7239881       178445              2.46 cents
3         1820           9633822       208526              2.16 cents
4         1830          12866020       378545              2.94 cents

In [295]:
def cleanse_cost_per_person(avg_cost):
    x=avg_cost.replace("$","").replace("\n","")
    if "cents" in x:
         y=float(x.replace(" cents",""))/100
    else:
         y=float(x)
    return round(y, 6)

In [296]:
df["Average Cost Per Person"] = df["Average Cost Per Person"].apply(cleanse_cost_per_person)

df.head()

   Census Year  Total Population  Census Cost  Average Cost Per Person
0         1790           3929214        44377                   0.0113
1         1800           5308483        66109                   0.0124
2         1810           7239881       178445                   0.0246
3         1820           9633822       208526                   0.0216
4         1830          12866020       378545                   0.0294

In [297]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     int64
 1   Total Population         23 non-null     int64
 2   Census Cost              23 non-null     int64
 3   Average Cost Per Person  23 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 864.0 bytes

**7.Find out the summary statistics of the numerical columns - use describe() function**

In [298]:
df.describe()

       Census Year  Total Population   Census Cost  Average Cost Per Person
count      23.0000      2.300000e+01  2.300000e+01                23.000000
mean     1900.0000      1.039211e+08  9.445587e+08                 3.368739
std        67.8233      9.622629e+07  2.830037e+09                 9.278241
min      1790.0000      3.929214e+06  4.437700e+04                 0.011300
25%      1845.0000      2.013067e+07  1.128361e+06                 0.055100
50%      1900.0000      7.630339e+07  1.185400e+07                 0.170700
75%      1955.0000      1.653245e+08  1.096980e+08                 0.658900
max      2010.0000      3.087455e+08  1.300000e+10                42.110000

**8.Use Plotly to plot the average cost per person over time.**

In [299]:
fig = px.line(df,x="Census Year",y="Average Cost Per Person", title="line plot showing the average cost per person over time.")
fig.show()

**9.Use Plotly to plot the scatter plot of Total Population vs Total Cost.**

In [300]:
fig = px.scatter(df,x="Total Population",y="Census Cost", title="the scatter plot of Total Population vs Total Cost")
fig.show()